:root {
    --cor-fundo: #1A1B26;      /*azul escuro*/
    --cor-painel: #282A36;    /*azul escuro barra lateral*/ 
    --cor-texto: #F8F8F2;      /*branco suave*/
    --cor-texto-secundario: #a3aab8;
    --cor-destaque: #50FA7B;    /*verde terminal-linux*/
    --cor-borda: #44475A;
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-mono: 'Fira Code', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto-secundario);
    line-height: 1.6;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 80px auto;
    background-color: var(--cor-painel);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--cor-borda);
    overflow: hidden;
}

.sidebar {
    background-color: var(--cor-fundo);
    width: 35%;
    padding: 40px;
    text-align: center;
    border-right: 1px solid var(--cor-borda);
}

.conteudo-principal {
    width: 65%;
    padding: 40px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--cor-destaque);
    margin-bottom: 20px;
}

.nome {
    font-family: var(--fonte-mono);
    font-size: 2em;
    color: var(--cor-texto);
}

.cargo {
    font-family: var(--fonte-mono);
    font-size: 1.1em;
    color: var(--cor-destaque);
    margin-top: 5px;
    min-height: 40px;
}

.separador {
    border: 0;
    border-top: 1px solid var(--cor-borda);
    margin: 20px 0;
}

.contato-item {
    display: block;
    color: var(--cor-texto-secundario);
    text-decoration: none;
    margin-bottom: 15px;
    transition: color 0.3 ease;
}

.contato-item:hover {
    color: var(--cor-destaque);
}

.contato-item i {
    margin-right: 10px;
    width: 20px;
}

.botao-download {
    display: inline-block;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.botao-download:hover {
    background-color: #f8f8f2;
}

section {
    margin-bottom: 40px;
}

section h3 {
    font-family: var(--fonte-mono);
    font-size: 1.5em;
    color: var(--cor-destaque);
    margin-bottom: 20px;
}

section h3 i {
    margin-right: 10px;
}

.item-experiencia, .item-projeto {
    margin-bottom: 20px;
}

.item-experiencia h4, .item-projeto h4 {
    font-family: var(--fonte-mono);
    font-size: 1.1em;
    color: var(--color-texto);
}

.item-experiencia .prompt {
    color: var(--cor-destaque);
    margin-right: 5px;
}

.item-experiencia .data {
    font-size: 0.9em;
    color: var(--cor-texto-secundario);
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

.container-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-habilidade {
    background-color: var(--cor-borda);
    color: var(--color-texto);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 0.9em;
}

.tag-habilidade.tag-java {
    background-color: red;
    color: white;
}

.tag-habilidade.tag-js {
    background-color: #F0DB4F; /* Amarelo do JavaScript */
    color: #323330; 
}

.tag-habilidade.tag-html {
    background-color: #E44D26;
    color: white;
}

.tag-habilidade.tag-css {
    background-color: #1572B6;
    color: white;
}

.item-projeto a {
    color: var(--color-texto);
    text-decoration: none;
}

.item-projeto a:hover {
    color: var(--cor-destaque);
}

.item-projeto a i {
    font-size: 0.8em;
}

#cargo-animado::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar 0.7s infinite;
}

@keyframes piscar {
    0%, 100% { opacity: 1; }
    50% { opacity: 0;}
}

.secao-animada {
    opacity: 0;
    transform: translateY(30px);
    transform: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.secao-animada.visivel {
    opacity: 1;
    transform: translateY(0);
}

#projetos {
    margin-top: 20px;
}

#projetos h4 a {
    text-decoration: none;
    color: #50FA7B;
}

